# --- DATASETS & LARGE FILES (The "Ignore" List) ---
# Ignore folders containing data

Dataset/
archive/

# Ignore specific large file extensions
*.xlsx
*.json
*.sql
*.zip
*.tar.gz
*.mp4
*.h5
*.pkl
*.psd
*.weights
*.pth

# --- SYSTEM & ENVIRONMENT ---
.DS_Store
__pycache__/
*.pyc
.env
venv/
node_modules/